In [10]:
import pandas as pd
import numpy as np

In [11]:
# Find the smallest missing data from the given list.
# 查找给定列表里的最小缺失值

l1 = [3, 4, -2, -1, 1, 5]  # Expected result: 0
l2 = [1, 3, 2, 0, 5, 4]  # Expected result: 6


# Answer
def findlost(nums):
    res = sorted(nums)
    for i in range(1, len(res)):
        if res[i] != res[i - 1] + 1:
            return res[i - 1] + 1
    return res[-1] + 1


print(findlost(l1))
print(findlost(l2))

0
6

In [12]:
# Given the sales data, answer the questions.
data = pd.DataFrame(
    {
        "Product": [
            "Laptop",
            "Smartphone",
            "Tablet",
            "Smartwatch",
            "Laptop",
            "Smartphone",
            "Tablet",
            "Smartwatch",
            "Laptop",
            "Smartphone",
        ],
        "Category": [
            "Electronics",
            "Electronics",
            "Electronics",
            "Wearables",
            "Electronics",
            "Electronics",
            "Electronics",
            "Wearables",
            "Electronics",
            "Electronics",
        ],
        "Quantity": [1, np.nan, 1, 3, 1, 2, 1, 3, 1, 2],
        "Price_Per_Unit": [1500, 350, np.nan, 83.33, 1600, 400, 350, -33.33, 1800, 400],
        "Date": [
            "2023-01-01",
            "2023-01-02",
            "2023-01-08",
            "2023-01-15",
            "2023-01-16",
            "2023-02-01",
            "2023-02-02",
            "2023-02-03",
            "2023-02-04",
            "2023-02-05",
        ],
        "Target": [0, 1, 0, 1, 0, 1, 0, 1, 0, 1],
    }
)

data

      Product     Category  Quantity  Price_Per_Unit        Date  Target
0      Laptop  Electronics       1.0         1500.00  2023-01-01       0
1  Smartphone  Electronics       NaN          350.00  2023-01-02       1
2      Tablet  Electronics       1.0             NaN  2023-01-08       0
3  Smartwatch    Wearables       3.0           83.33  2023-01-15       1
4      Laptop  Electronics       1.0         1600.00  2023-01-16       0
5  Smartphone  Electronics       2.0          400.00  2023-02-01       1
6      Tablet  Electronics       1.0          350.00  2023-02-02       0
7  Smartwatch    Wearables       3.0          -33.33  2023-02-03       1
8      Laptop  Electronics       1.0         1800.00  2023-02-04       0
9  Smartphone  Electronics       2.0          400.00  2023-02-05       1

In [13]:
# Handle missing values and outliers
# Calculate the total sales of each product category
# Calculate the mean, median, and standard deviation of Price_Per_Unit
# Split a dataset into training and testing sets (80% train, 20% test)

# 处理缺失值和异常值
data["Quantity"].fillna(data["Quantity"].mean(), inplace=True)
data["Price_Per_Unit"].replace(-33.33, np.nan, inplace=True)
data["Price_Per_Unit"].fillna(data["Price_Per_Unit"].mean(), inplace=True)
data
# 计算每个产品类别的总销售额
data["Total"] = data["Quantity"] * data["Price_Per_Unit"]
data.groupby("Category")["Total"].sum()
# 计算每单位价格的平均值、中位数和标准差
data["Price_Per_Unit"].mean()
data["Price_Per_Unit"].median()
data["Price_Per_Unit"].std()
# 将数据集拆分为训练集和测试集（80% 训练，20% 测试）
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size=0.2)
train
test

/var/folders/l9/96w4r89d2kz_ghml_zxzqc5c0000gn/T/ipykernel_49196/4055953374.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Quantity"].fillna(data["Quantity"].mean(), inplace=True)
/var/folders/l9/96w4r89d2kz_ghml_zxzqc5c0000gn/T/ipykernel_49196/4055953374.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Price_Per_Unit"].replace(-33.33, np.nan, inplace=True)
/var/folders/l9/96w4r89d2kz_ghml_zxzqc5c0000gn/T/ipykernel_49196/4055953374.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Price_Per_Unit"].fillna(data["Price_Per_Unit"].mean(), inplace=True)

,Product,Category,Quantity,Price_Per_Unit,Date,Target,Total
6,Tablet,Electronics,1.0,350.00,2023-02-02,0,350.00
3,Smartwatch,Wearables,3.0,83.33,2023-01-15,1,249.99

In [14]:
# Find the longest increasing subsequence in a list.
# 在列表中找到最长的递增子序列

l1 = [10, 9, 15, 27, 7, 18, 108, 87]  # Expected result: [7, 18, 108]
l2 = [15, 21, 421, 14, 16, 91, 92, 93]  # Expected result: [14, 16, 91, 92, 93]


# Answer
def findsub(ls):
    n = len(ls)
    prev = [None] * n
    for i in range(n - 1):
        for j in range(i + 1, n):
            if ls[j] > ls[i]:
                prev[j] = i
    # print(prev)
    count = 0

    for i in range(n - 1, -1, -1):
        res = []
        if ls[i]:
            res.append(ls[i])
            k = prev[i]
            while k:
                res.append(ls[k])
                k = prev[k]
            if len(res) > count:
                count = len(res)
                out = sorted(res)
                res.clear()
    return out


print(findsub(l1))

[7, 18, 87]

In [15]:
# Replace categories in a list based on specific conditions.
# 根据特定条件替换列表中的类别

categories = ["apple", "lettuce", "banana", "broccoli", "kiwi"]
mapping = {
    "apple": "Fruit",
    "banana": "Fruit",
    "kiwi": "Fruit",
    "lettuce": "Vegetable",
    "broccoli": "Vegetable",
}

# Answer
for i in range(len(categories)):
    categories[i] = mapping[categories[i]]
categories

['Fruit', 'Vegetable', 'Fruit', 'Vegetable', 'Fruit']

In [16]:
# Replace categories that appear fewer times than a specified threshold with the label 'Other'.
# 将出现次数少于指定阈值的类别替换为“Other”

categories = ["salary", "policy", "address", "job", "salary", "address"]
threshold = 2

from collections import defaultdict

counts = defaultdict(int)
for i in categories:
    counts[i] += 1
for i in range(len(categories)):
    if counts[categories[i]] < 2:
        categories[i] = "Other"
categories

['salary', 'Other', 'address', 'Other', 'salary', 'address']

In [17]:
# Generate all possible permutations of the characters in a string.
# 生成字符串中字符的所有可能排列

text = "abc"
# Expected result:['abc', 'acb', 'bac', 'bca', 'cab', 'cba']

# Answer
from itertools import permutations

text_ls = ["a", "b", "c"]
out = permutations(text_ls, 3)
# list(out)
res = []
for i in out:
    ans = ""
    for j in i:
        ans += j
    res.append(ans)
res

['abc', 'acb', 'bac', 'bca', 'cab', 'cba']

In [18]:
# Remove all vowels(a, e, i, o, u) from a giving string.
# 在给定的字符串中移除(a, e, i, o, u)

text = "Python is a versatile programming language. It is widely used for web development, data analysis, and artificial intelligence."

# Answer
target = ["a", "e", "i", "o", "u"]
n = len(text)
i = 0
while i < n:
    if text[i] in target:
        text = text[:i] + text[i + 1 :]
        n -= 1
        i -= 1
    i += 1
print(text)

Pythn s  vrstl prgrmmng lngg. It s wdly sd fr wb dvlpmnt, dt nlyss, nd rtfcl ntllgnc.