In [1]:
import pandas as pd
import numpy as np

In [2]:
# Find the smallest missing data from the given list.
# 查找给定列表里的最小缺失值

l1 = [3, 4, -2, -1, 1, 5]  # Expected result: 0
l2 = [1, 3, 2, 0, 5, 4]  # Expected result: 6


# Answer

In [3]:
# Given the sales data, answer the questions.
data = pd.DataFrame(
    {
        "Product": [
            "Laptop",
            "Smartphone",
            "Tablet",
            "Smartwatch",
            "Laptop",
            "Smartphone",
            "Tablet",
            "Smartwatch",
            "Laptop",
            "Smartphone",
        ],
        "Category": [
            "Electronics",
            "Electronics",
            "Electronics",
            "Wearables",
            "Electronics",
            "Electronics",
            "Electronics",
            "Wearables",
            "Electronics",
            "Electronics",
        ],
        "Quantity": [1, np.nan, 1, 3, 1, 2, 1, 3, 1, 2],
        "Price_Per_Unit": [1500, 350, np.nan, 83.33, 1600, 400, 350, -33.33, 1800, 400],
        "Date": [
            "2023-01-01",
            "2023-01-02",
            "2023-01-08",
            "2023-01-15",
            "2023-01-16",
            "2023-02-01",
            "2023-02-02",
            "2023-02-03",
            "2023-02-04",
            "2023-02-05",
        ],
        "Target": [0, 1, 0, 1, 0, 1, 0, 1, 0, 1],
    }
)

data

      Product     Category  Quantity  Price_Per_Unit        Date  Target
0      Laptop  Electronics       1.0         1500.00  2023-01-01       0
1  Smartphone  Electronics       NaN          350.00  2023-01-02       1
2      Tablet  Electronics       1.0             NaN  2023-01-08       0
3  Smartwatch    Wearables       3.0           83.33  2023-01-15       1
4      Laptop  Electronics       1.0         1600.00  2023-01-16       0
5  Smartphone  Electronics       2.0          400.00  2023-02-01       1
6      Tablet  Electronics       1.0          350.00  2023-02-02       0
7  Smartwatch    Wearables       3.0          -33.33  2023-02-03       1
8      Laptop  Electronics       1.0         1800.00  2023-02-04       0
9  Smartphone  Electronics       2.0          400.00  2023-02-05       1

In [4]:
# Handle missing values and outliers
# Calculate the total sales of each product category
# Calculate the mean, median, and standard deviation of Price_Per_Unit
# Split a dataset into training and testing sets (80% train, 20% test)

# 处理缺失值和异常值

In [5]:
# 计算每个产品类别的总销售额

In [6]:
# 计算每单位价格的平均值、中位数和标准差

In [7]:
# 将数据集拆分为训练集和测试集（80% 训练，20% 测试）

In [8]:
# Find the longest increasing subsequence in a list.
# 在列表中找到最长的递增子序列

l1 = [10, 9, 15, 27, 7, 18, 108, 87]  # Expected result: [7, 18, 108]
l2 = [15, 21, 421, 14, 16, 91, 92, 93]  # Expected result: [14, 16, 91, 92, 93]


# Answer

In [9]:
# Replace categories in a list based on specific conditions.
# 根据特定条件替换列表中的类别

categories = ["apple", "lettuce", "banana", "broccoli", "kiwi"]
mapping = {
    "apple": "Fruit",
    "banana": "Fruit",
    "kiwi": "Fruit",
    "lettuce": "Vegetable",
    "broccoli": "Vegetable",
}

# Answer

In [10]:
# Replace categories that appear fewer times than a specified threshold with the label 'Other'.
# 将出现次数少于指定阈值的类别替换为“Other”

categories = ["salary", "policy", "address", "job", "salary", "address"]
threshold = 2

# Answer

In [11]:
# Generate all possible permutations of the characters in a string.
# 生成字符串中字符的所有可能排列

text = "abc"
# Expected result:['abc', 'acb', 'bac', 'bca', 'cab', 'cba']

# Answer

In [12]:
# Remove all vowels(a, e, i, o, u) from a giving string.
# 在给定的字符串中移除(a, e, i, o, u)

text = "Python is a versatile programming language. It is widely used for web development, data analysis, and artificial intelligence."

# Answer